@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,900');

body {
  background:#fcfcfc;
  color:#444;
  font-family:'Gentium Book Basic', serif;
  font-size:1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Merriweather', normal;
  color:#222;
}

.post>p {
  text-align:justify;
}

.definition {
  text-align:justify;
}

.links .column {
  text-align:center;
}

.links a {
  font-family:'Merriweather', normal;
  border: 1px rgba(68, 68, 68, .5) solid;
  border-radius:100%;
  display:inline-block;
  width:5em;
  font-size:1em;
  padding-top:1.5em;
  padding-bottom:1.5em;
  -moz-transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
	-webkit-transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
	-o-transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
	-ms-transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
	transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
  background-color:#fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.links a:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform:scale(1.05);
}

@media only screen {
  .links .small-4 {
    margin-bottom:2em;
  }
  
  .tumblr>.row:first-of-type {
    padding-top:0em;
  }
  
  .tumblr .sidebar .column {
    text-align:center;
  }
  
  .tumblr .posts p+footer .small {
    float: right;
    margin-top: -1.25em;
  }
  
  .tumblr .posts footer .tags {
    list-style-type:none;
  }
  
  .tumblr .posts footer .tags li {
    padding-right:1em;
    float:left;
  }
  
  .tumblr aside.notes {
    overflow:hidden;
    max-height:20em;
    transition:max-height .4s ease;
  }
  
  .tumblr aside.notes:hover {
    max-height:200em;
  }
  
  .tumblr .notes ol.notes {
    list-style:none;
  }
  
  .tumblr .notes ol.notes li {
    padding-top:.1em;
  }
  
  .tumblr .notes ol.notes li .avatar {
    padding-ight:.5em;
  }
  
  .tumblr aside.notes {
    
  }
  
  header .h1 {
    text-align:center;
  }
  
  .sidebar .column:nth-of-type(n+4) {
    padding-top:1em;
  }
}

@media only screen and (min-width: 40.0625em) {
  .links .small-4 {
    margin-bottom:0em;
  }

  .row {
    padding-top:1em;
  }

  body>.row:first-of-type {
    padding-top:5em;
  }
  
  .tumblr>.row:first-of-type {
    padding-top:2em!important;
  }
  
  .tumblr .row .row {
    padding-top:0em;
  }
  
  .tumblr .sidebar .column{
    margin-top:1em;
    text-align: center;
  }
  
  .tumblr .sidebar .column:first-of-type {
    margin-top:0em;
  }
  
  .tumblr .sidebar a {
    font-family: 'Merriweather', normal;
    display: inline-block;
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: all .5s ease-in-out;
  }
  
  p {
    background-color:rgba(252, 252, 252, .7);
    -webkit-box-shadow: 0px 0px 20px 10px rgba(252, 252, 252, .7);
    -moz-box-shadow: 0px 0px 20px 10px rgba(252, 252, 252, .7);
    box-shadow: 0px 0px 20px 10px rgba(252, 252, 252, .7);
  }
  
  header .h1 {
    text-align:left;
  }
  
  .sidebar .column:nth-of-type(n+4) {
    padding-top:0em;
  }
}

@media only screen and (min-width: 64.0625em) {
  body>.row:first-of-type {
    padding-top:10em;
  }
}

.column>.email {
  color:#fcfcfc;
  background-color:#c9252c;
  border: 2px solid #c9252c;
}

.column>.email:hover {
  color:#c9252c;
  background-color:#fcfcfc;
  border: 2px solid #c9252c;
}

.column>.github {
  color:#fcfcfc;
  background-color:black;
  border: 2px solid black;
}

.column>.github:hover {
  color:black;
  background-color:#fcfcfc;
  border: 2px solid black;
}

.column>.twitter {
  color:#fcfcfc;
  background-color: #55acee;
  border: 2px solid #55acee;
}

.column>.twitter:hover {
  color:#55acee;
  background-color:#fcfcfc;
  border: 2px solid #55acee;
}

.column>.tumblr {
  color:#fcfcfc;
  background-color:#35465c;
  border: 2px solid #35465c;
}

.column>.tumblr:hover {
  color:#35465c;
  background-color:#fcfcfc;
  border: 2px solid #35465c;
}

.column, .columns{
  min-height: 1px;
}