@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,900');

body {
  background:#fcfcfc;
  color:#444;
  font-family:'Gentium Book Basic', serif;
  font-size:1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Merriweather', normal;
  color:#222;
}

.post>p {
  text-align:justify;
}

.definition {
  text-align:justify;
}

nav .column {
  text-align:center;
}

a.icon {
  font-family:'Merriweather', normal;
  border-radius:100%;
  display:inline-block;
  position:relative;
  width:5rem;
  height:4.9rem;
  font-size:1.1rem;
  padding-top:1.6rem;
  color:#fcfcfc;
	transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
  background-color:#fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: solid 0px;
}

a.icon:hover {
  background-color:transparent;
  box-shadow:none;
}

a.icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border: solid 0px;
  transform: scale(0.99);
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

a.icon:hover:after {
  border:solid 2px;
  background-color:rgba(252, 252, 252, .7);
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  z-index:-1;
}

@media only screen {
  .bg {
    background-image: url(../img/8361494792_7aba723044_k.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100%;
    position: fixed;
    z-index: -3;
    left:0px;
    top:0px;
  }
  
  .bg:after {
    content: "";
    width:100%;
    height:100%;
    position:fixed;
    z-index:-2;
    left:0px;
    top:0px;
    background-color: rgba(252, 252, 252, .7);
  }

  nav .small-4 {
    margin-bottom:2em;
  }
  
  .tumblr>.row:first-of-type {
    padding-top:0em;
  }
  
  .tumblr .sidebar .column {
    text-align:center;
  }
  
  .tumblr .posts p+footer .small {
    float: right;
    margin-top: -1.25em;
  }
  
  .tumblr .posts footer .tags {
    list-style-type:none;
  }
  
  .tumblr .posts footer .tags li {
    padding-right:1em;
    float:left;
  }
  
  .tumblr aside.notes {
    overflow:hidden;
    max-height:20em;
    transition:max-height .4s ease;
  }
  
  .tumblr aside.notes:hover {
    max-height:200em;
  }
  
  .tumblr .notes ol.notes {
    list-style:none;
  }
  
  .tumblr .notes ol.notes li {
    padding-top:.1em;
  }
  
  .tumblr .notes ol.notes li .avatar {
    padding-ight:.5em;
  }
  
  .tumblr aside.notes {
    
  }
  
  header .h1 {
    text-align:center;
  }
  
  footer.bottom {
    position:absolute;
    bottom:0px;
    z-index:-1;
    padding-right:0em;
    padding-top:0em;
    text-align:center;
    height:1.75em;
    width:100%;
    background-color:rgba(0,0,0,.12);
    box-shadow: 0px -1em 3em 1em rgba(0,0,0,0.12);
    color:#666666;
  }
  
  .sidebar .column:nth-of-type(n+4) {
    padding-top:1em;
  }
}

@media only screen and (min-width: 40.0625em) {
  nav .small-4 {
    margin-bottom:0em;
  }

  .row {
    padding-top:1em;
  }

  body>div.row:first-of-type {
    padding-top:5em;
  }
  
  .tumblr>.row:first-of-type {
    padding-top:2em!important;
  }
  
  .tumblr .row .row {
    padding-top:0em;
  }
  
  .tumblr .sidebar .column{
    margin-top:1em;
    text-align: center;
  }
  
  .tumblr .sidebar .column:first-of-type {
    margin-top:0em;
  }
  
  .tumblr .sidebar a {
    font-family: 'Merriweather', normal;
    display: inline-block;
    font-size: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    transition: all .5s ease-in-out;
  }
  
  .definition {
    padding:1em;
    background-color:rgba(252, 252, 252, .4);
    border-radius:1.5em;
    box-shadow: 0px 0px 60px 60px rgba(252, 252, 252, .1), 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  header .h1 {
    text-align:left;
  }
  
  .sidebar .column:nth-of-type(n+4) {
    padding-top:0em;
  }
  
  footer.bottom {
    text-align:right;
    padding-right:1em;
  }
}

@media only screen and (min-width: 64.0625em) {
  body>div.row:first-of-type {
    padding-top:10em;
  }
}

.email svg {transform:scale(.8);}
.email svg .style0 {fill:transparent;stroke:rgba(201, 37, 44, .7);transition:0.2s stroke ease;}
.email svg .style1 {fill:#fcfcfc;transition:0.2s fill ease;}
.email:hover svg .style0 {stroke:#fcfcfc;}
.email:hover svg .style1 {fill:rgba(201, 37, 44, 1);}

.column>.email {
  padding-top:.77em;
  background-color:rgba(201, 37, 44, .7);
}

.column>.email:hover {color:rgba(201, 37, 44, 1);}
.column>.email:after {border-color:rgba(201, 37, 44, 1);}

.github svg {fill:#fcfcfc;transition:0.2s fill ease;}
.github:hover svg {fill:rgba(0, 0, 0, 1);}

.column>.github {
  padding-top:.75em;
  background-color:rgba(0, 0, 0, .7);
}

.column>.github:hover {color:rgba(0, 0, 0, 1);}

.column>.github:after {border-color:rgba(0, 0, 0, 1);}

.twitter svg {}
.twitter svg .style1 {fill:#fcfcfc;transition:0.2s fill ease;}
.twitter:hover svg .style1 {fill:rgba(85, 172, 238, 1);}

.column>.twitter {
  padding-top:1.25em;
  background-color:rgba(85, 172, 238, .7);
}

.column>.twitter:hover {color:rgba(85, 172, 238, 1);}
.column>.twitter:after {border-color:rgba(85, 172, 238, 1);}

.tumblr svg {transform:scale(1.2);}
.tumblr svg .style1 {fill:#fcfcfc;transition:0.2s fill ease;}
.tumblr:hover svg .style1 {fill:rgba(53, 70, 92, 1);}

.column>.tumblr {
  padding-top:1.25em;
  background-color:rgb(110, 122, 138)
}

.column>.tumblr:hover {color:rgba(53, 70, 92, 1);}
.column>.tumblr:after {border-color:rgba(53, 70, 92, 1);}

.column, .columns{min-height: 1px;}